@import '../../variables.scss';

.comingProducts {
  background-color: $color-white;
  height: 100vh;

  &__header{
    background-color: $color-black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  &__body {
    background: transparent linear-gradient(180deg, #5AC8FA 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box; 
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  &__image{
    display: block;
    margin-top: 100px;
  }

  &__text{
    position: relative;
    top: -130px;
    font: normal normal normal 25px/38px Poppins;
  }

  &__reel {
    margin-top: 192px;
  }
}