@import '../../variables.scss';

.watch {
  background-color: $color-white;
  height: 100vh;

  &__body {
    display: flex;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    margin: 0 auto;
  }

  &__descriptionContainer {
    flex: 1
  }

  &__description {
    height: 615px;
    width: 929px;
    background: transparent linear-gradient(90deg, #F2F2F2 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    padding: 70px;
  }

  &__subtitle {
    font: normal normal bold 32px/48px Poppins;
    color: #FF3B30;
    padding: 20px 0;
  }

  &__title {
    font: normal normal bold 100px/110px Poppins;
    padding: 20px 0;
  }

  &__descriptionText {
    font: normal normal normal 25px/35px Poppins;
    color: #999999;   
  }

  &__shipping {
    font: normal normal normal 14px/35px Poppins;
    color: #FF3B30; 
  }

  &__descriptionFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
  }

  &__priceContainer {
    padding-left: 70px;
  }

  &__price {
    font: normal normal bold 50px/76px Poppins;
    color: $color-grey;
  }

  &__buy {
    font: normal normal 600 20px/30px Poppins;
    color: $color-red;
  }

  &__colorSelector {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin: 0 auto;
  }

  &__selectedWatch {
    margin-top: 70px;
    margin-left: 40px;
  }

  &__icons {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 150px;
    align-items: center;
  }

  &__iconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}