$color-white: #fff; //white 
$color-black: #000; //black
$color-grey: #707070; //grey
$color-light-grey: #F2F2F2; //light-grey
$color-light-blue: #5AC8FA; //light-blue
$color-red: #FF3B30; //red 
$color-dark-grey: #CCCCCC //dark-grey